<template>
    <v-layout column fluid>
        <kom-header :item="item"/>
    </v-layout>
</template>

<script>

  import { graphQlUrlize } from '~/utils'
  import { kom_query } from './queries'
  import KomHeader from '~/components/kom/header'

  export default {
    head () {
      return {
        title: this.item.nomo.enhavo
      }
    },

    components: {
      KomHeader,
    },

    // Асинхронное получение данный с сервера (работает и на сервере)
    async asyncData ({ app, params, query, error, props }) {
      return await app.$axios.get(graphQlUrlize({
        query: kom_query,
        variables: { id: props.kom_id }
      }))
        .then(response => {
          const resp = response.data.data.komunumoj;

          if (resp.edges.length) {
            return Promise.resolve({
              item: Object.assign({}, resp.edges[0].node),
              loading: false,
            })
          } else {
            error({ status: 404, message: 'Сообщество не найдено' })
          }
        })
        .catch(e => {
          console.error(e);
          return Promise.reject(e)
        })
    },

    computed: {
      isLarge () {
        return this.$vuetify.breakpoint.lg || this.$vuetify.breakpoint.xl
      },
      isServer () {
        return process.server
      }
    },
  }
</script>

<style scoped>
    .general {
        width: 1145px !important;
        /*max-width: 1145px !important;*/
    }
</style>
